# Arquivos de compilação Java
*.class

# Arquivos de dependências (gerados pelo Maven ou Gradle)
target/
bin/
.idea/
.gradle/
build/

# Arquivos de configuração do Eclipse
.settings/

# Logs e relatórios
*.log
*.xml
*.html
allure-results/

# Arquivos temporários
*.tmp
*.swp

# Arquivos de imagem
*.png
*.jpg
*.jpeg

# Arquivos de captura de tela
screenshots/

# Arquivos de configuração do Allure
allure-report/

# Arquivos de cache e temporários
.cache/
.temp/
